<%= flash_message %>

<%= form_for(@usr) do |f| %>
<table>
  <tr>
    <td>First name:</td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td>Email address:</td>
    <td><%= f.text_field :email_address %></td>
  </tr>
  
  <tr>
    <td>Username:</td>
    <td><%= f.text_field :username %></td>
  </tr>
  <tr>
    <td>New Password:</td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td>Confirm:</td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  
  <%- if @usr.username != session[:user_username] -%>
    <tr>
      <td>This user is allowed to:</td>
      <td>
        <%= f.check_box :can_manage_cms %>
          <label for="user_can_manage_cms">Create and edit web site content</label><br/>
        <%- if UseCmsAccessLevels -%>
        <%= f.check_box :can_manage_cms_publishing, :style => 'margin-left: 20px;' %>
          <label for="user_can_manage_cms_publishing">Publish new page versions and create new pages</label><br/>
          <div style="margin-left: 40px;" title="Example: /programs/abc, /about/news">
            <label for="user_cms_allowed_sections">...but only in these sections (leave blank for unrestricted access):</label><br/>
            <%= f.text_field :cms_allowed_sections, :style => 'width: 350px;' %>
          </div>
        <%= f.check_box :can_manage_cms_full_access, :style => 'margin-left: 20px;' %>
          <label for="user_can_manage_cms_full_access">Edit templates and snippets</label><br/>
        <%- end -%>
        <%= f.check_box :can_manage_users %>
          <label for="user_can_manage_users">Create users and control their access</label><br/>
      </td>
    </tr>
  <%- end -%>
  
  <tr>
    <td></td>
    <td><%= submit_tag 'Update' %> or <%= link_to 'Cancel', :action => 'index' %></td>
  </tr>
</table>
<% end %>
