<h2>Create New User</h2><br/>

<%= flash_message %>

<%= form_for(@user) do |f| %>
<table>
  <tr>
    <td>First name:</td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td>Email address:</td>
    <td><%= f.text_field :email_address %></td>
  </tr>
  
  <tr>
    <td>Username:</td>
    <td><%= f.text_field :username %></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td>Confirm:</td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag 'Create', :class => 'form_button' %></td>
  </tr>
</table>
<% end -%>
