<div id="cb_item_<%= list_page.id %>" class="cb_item<%= ' cb_item_offline' unless list_page.published_version >= 0 %>">
  <%= image_tag 'management/icon_page.gif' %></td>
  <span><%= list_page.name %></span>
</div>

<script type="module">
  jQuery('#cb_item_<%= list_page.id %>').on('click', () => {
    jQuery('#view_link').prop('href', '<%= list_page.path.blank? ? '' : '/' + list_page.path %>/version/<%= list_page.published_version > 0 ? list_page.published_version : list_page.version %>');
    jQuery('#new_link').off('click');
    jQuery('#new_link').on('click', () => {
      editProperties('<%=raw url_for action: 'new', mode: 'ajax_new', parent_id: list_page %>', 'Create New Page under /<%= list_page.path %>');
      return false;
    });
    jQuery('#edit_link').off('click');
    jQuery('#edit_link').on('click', () => {
      editProperties('<%=raw url_for action: 'edit_page', id: list_page, mode: 'ajax_edit' %>', 'Page Properties: <%= list_page.name %>');
      return false;
    });
    jQuery('#edit_content_link').prop('href', '<%=raw url_for action: 'edit_page_content', id: list_page %>');
    jQuery('#delete_link').prop('href', '<%=raw url_for action: 'delete_page', id: list_page.id %>');
    setTimeout(() => {
      cbSelectItem('#cb_item_<%= list_page.id %>', <%= @page_level %>, '<%=raw url_for action: 'list_pages', level: @page_level + 1, parent_id: list_page.id %>');
    }, 200);
  });
  jQuery('#cb_item_<%= list_page.id %>').on('dblclick', (event) => {
    location.href = jQuery('#edit_content_link')[0].href;
    return false;
  });
</script>
