<%- list_page = list_page_select -%>

<div id="cb_item_<%= list_page.id %>" class="cb_item<%= ' cb_item_offline' unless list_page.published_version >= 0 %>">
  <%= image_tag 'management/icon_page.gif' %></td>
  <span><%= list_page.name %></span>
</div>

<script type="module">
  jQuery('#cb_item_<%= list_page.id %>').on('click', () => {
    jQuery('#page_browser_selection').val('/<%= list_page.path %>');
    setTimeout(() => {
      cbSelectItem('#cb_item_<%= list_page.id %>', <%= @page_level %>, '<%=raw url_for action: 'list_pages_select', level: @page_level + 1, parent_id: list_page.id %>');
    }, 200);
  });
  jQuery('#cb_item_<%= list_page.id %>').on('dblclick', (event) => {
    return false;
  });
</script>
