<%- options ||= {} -%>
<div id="page_list_container_<%= key %>" class="page_list_dialog" style="border: 1px solid gray; padding: 8px; background-color: #dddddd; width: 170px; text-align: center;">
  Page List: <%= name %><br/>
  <button class="form_button" onclick="showDojoDialog('page_list_<%= key %>'); return false;">Configure</button>
</div>
<div dojoType="ModalFloatingPane" id="page_list_<%= key %>" title="Page List: <%= name %>"
     hasShadow="true" resizable="true" followScroll="false" displayCloseAction="true" appendToBody="false"
     style="width: 620px; height: 600px; display: none">
  <div class="ccs-page-list-form">
    <fieldset>
      <legend>Sources</legend>
      
      Select folders and/or tags to indicate which content to pull into this list.
      
      <div id="page_list_<%= key %>-source-list" style="margin: 10px;">
        <%- @page_objects["#{key}-sources-folder-count"].to_i.times do |i| -%>
          <%= render partial: 'page_list_source_folder', locals: { i: i, key: key } %>
        <%- end -%>
        <%- @page_objects["#{key}-sources-tag-count"].to_i.times do |i| -%>
          <%= render partial: 'page_list_source_tag', locals: { i: i, key: key } %>
        <%- end -%>
        <%-
          @page_objects["#{key}-sources-tag-count"] ||= 0
          @page_objects["#{key}-sources-folder-count"] ||= 0
        -%>
        <%= text_field :page_objects, "#{key}-sources-tag-count", style: 'display: none;' %>
        <%= text_field :page_objects, "#{key}-sources-folder-count", style: 'display: none;' %>
      </div>
      
      <table>
        <tr>
          <td><%= button_to_function('Add Page/Folder', "new Ajax.Updater('page_list_#{key}-source-list', '/manage/cms_pages/page_list_add_folder?key=#{key}&i=' + $('page_objects_#{key}-sources-folder-count').value, {asynchronous:true, evalScripts:true, insertion:Insertion.Bottom}); $('page_objects_#{key}-sources-folder-count').value++;", class: 'form_button') %></td>
          <td><%= button_to_function('Add Tag', "new Ajax.Updater('page_list_#{key}-source-list', '/manage/cms_pages/page_list_add_tag?key=#{key}&i=' + $('page_objects_#{key}-sources-tag-count').value, {asynchronous:true, evalScripts:true, insertion:Insertion.Bottom}); $('page_objects_#{key}-sources-tag-count').value++;", class: 'form_button') %></td>
          <td>
            <%= check_box :page_objects, "#{key}-include-expired", { class: 'form', style: '' }, 'true', 'false' %>
            <label for="page_objects_<%= key %>-include-expired">Include expired items</label>
          </td>
          <td>
            <%= check_box :page_objects, "#{key}-exclude-current", { class: 'form', style: '' }, 'true', 'false' %>
            <label for="page_objects_<%= key %>-exclude-current">Exclude current page</label>
          </td>
        </tr>
      </table>
    </fieldset>
    
    <fieldset>
      <legend>Display</legend>
      
      <table>
        <col width="60" />
        <tr>
          <td>Format:</td>
          <td colspan="2">
            <%- @page_objects["#{key}-style-display-as"] ||= 'list' -%>
            <%= radio_button :page_objects, "#{key}-style-display-as", 'list' %><label for="page_objects_<%= key %>-style-display-as_list">List</label>&nbsp;
            <%= radio_button :page_objects, "#{key}-style-display-as", 'calendar' %><label for="page_objects_<%= key %>-style-display-as_calendar">Calendar</label>
          </td>
        </tr>
        <tr class="page_list_<%= key %>_list_option">
          <td valign="top"><div style="margin-top: 2px;">Number:</div></td>
          <td>
            Display <%= text_field :page_objects, "#{key}-max-item-count", placeholder: options[:item_count].to_s, class: 'form', style: 'margin: 0; width: 20px;' %> items,
            but skip the first <%= text_field :page_objects, "#{key}-item-offset", placeholder: (options[:item_offset] || 0).to_s, class: 'form', style: 'margin: 0; width: 20px;' %>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= check_box :page_objects, "#{key}-use-pagination" %>
            <label for="page_objects_<%= key %>-use-pagination">Show multiple list segments</label>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= check_box :page_objects, "#{key}-use-randomization" %>
            <label for="page_objects_<%= key %>-use-randomization">Select randomly from the top</label>
              <%= text_field(:page_objects, "#{key}-random-pool-size", class: 'form', style: 'margin: 0; width: 20px') %> items
          </td>
        </tr>
        <tr class="page_list_<%= key %>_list_option">
          <td>Sort Order:</td>
          <td>
            First by
            <%= select(:page_objects, "#{key}-sort-first-field",
                       [ [ 'Date', 'article_date' ], [ 'Position', 'position' ],
                         [ 'Title', 'title' ] ], {},
                       :class => 'form', :style => 'margin: 0; border: 1px solid gray;') %>
            <%= select(:page_objects, "#{key}-sort-first-direction",
                       [ 'asc', 'desc' ], {},
                       :class => 'form', :style => 'margin: 0; border: 1px solid gray;') %>
            then by
            <%= select(:page_objects, "#{key}-sort-second-field",
                       [ [ 'Date', 'article_date' ], [ 'Position', 'position' ],
                         [ 'Title', 'title' ] ], {},
                       :class => 'form', :style => 'margin: 0; border: 1px solid gray;') %>
            <%= select(:page_objects, "#{key}-sort-second-direction",
                       [ 'asc', 'desc' ], {},
                       :class => 'form', :style => 'margin: 0; border: 1px solid gray;') %>
          </td>
        <tr class="page_list_<%= key %>_list_option">
          <td>Dates:</td>
          <td>
            <%-
              @page_objects["#{key}-date-range"] ||= 'all'
            -%>
            <%= radio_button :page_objects, "#{key}-date-range", 'all' %><label for="page_objects_<%= key %>-date-range_all">All Dates</label>&nbsp;
            <%= radio_button :page_objects, "#{key}-date-range", 'past' %><label for="page_objects_<%= key %>-date-range_past">Past</label>&nbsp;
            <%= radio_button :page_objects, "#{key}-date-range", 'future' %><label for="page_objects_<%= key %>-date-range_future">Future</label>&nbsp;
            <%= radio_button :page_objects, "#{key}-date-range", 'custom' %><label for="page_objects_<%= key %>-date-range_custom">Range:</label>
            <%= date_picker :page_objects, "#{key}-date-range-custom-start", default_value: (@page_objects["#{key}-date-range-custom-start"] || Time.now), start_date: Time.utc(2006, 1, 1), end_date: 5.years.from_now %> &ndash;
            <%= date_picker :page_objects, "#{key}-date-range-custom-end", default_value: (@page_objects["#{key}-date-range-custom-end"] || Time.now), start_date: Time.utc(2006, 1, 1), end_date: 5.years.from_now %>
          </td>
        </tr>
      </table>
    </fieldset>
    
    <fieldset>
      <legend>Item Template</legend>
      
      <div style="float: left; width: 330px;">
        This HTML code will be generated for each page in the source list. Customize it with attributes (e.g. Title).
      </div>
      
      <div style="float: right">
        <%-
          system_attrs = {
            'article_date_month'  => 'Article Date - Month',
            'article_date_mon'    => 'Article Date - Month Abbr',
            'article_date_day'    => 'Article Date - Day',
            'article_date_year'   => 'Article Date - Year',
            'article_date_yr'     => 'Article Date - Year Abbr',
            'tags'                => 'Tags',
            'tags_as_css_classes' => 'Tags as CSS Classes',
          }
          @pg.attributes.each do |attr, value|
            next if [ 'cms_template_id', 'cms_template_version' ].include?(attr)
            system_attrs[attr] ||= attr.titleize
          end
        -%>
        <select class="form" style="width: 150px;" onchange="insertAtCaret($('page_objects_<%= key %>-template'), '<# ' + this.value + ' #>'); this.value = '';">
          <option value="">-- Insert Attribute --</option>
          <%- system_attrs.sort.each do |attr, label| -%>
            <option value="<%= attr %>"><%= label %></option>
          <%- end -%>
        </select>
      </div>
      
      <br clear="all">
      
      <%= text_area :page_objects, "#{key}-template", placeholder: options[:template].to_s.gsub(/\s+/, ' '), style: 'border: 1px solid gray; width: 99%;', rows: '6' %>
    </fieldset>
    
    <div id="page_list_<%= key %>-advanced">
      <fieldset>
        <legend>Enclosing HTML</legend>
        
        <table width="100%">
          <tr>
            <td valign="top">Before:</td>
            <td><%= text_area :page_objects, "#{key}-header", placeholder: options[:header].to_s.gsub(/\s+/, ' '), style: 'border: 1px solid gray; width: 99%; height: 32px;' %></td>
          </tr>
          <tr>
            <td valign="top">After:</td>
            <td><%= text_area :page_objects, "#{key}-footer", placeholder: options[:footer].to_s.gsub(/\s+/, ' '), style: 'border: 1px solid gray; width: 99%; height: 32px;' %></td>
          </tr>
        </table>
      </fieldset>
      
      <fieldset>
        <legend>"Empty" Message</legend>
        
        <p>This message is displayed when no pages match the search criteria.</p>
        
        <%= text_area :page_objects, "#{key}-empty_message", placeholder: options[:empty_message].to_s.gsub(/\s+/, ' '), style: 'border: 1px solid gray; width: 99%; height: 24px;' %>
      </fieldset>
    </div>
    
    <br>
    
    <center><button class="form_button" onclick="hideDojoDialog('page_list_<%= key %>'); return false;">Close</button></center>
  </div>
</div>

<script type="text/javascript">
  // reattach to a safe place in the DOM (away from styled regions)
  window.addEventListener('DOMContentLoaded', (event) => {
    var displayAsList = jQuery('#page_objects_<%= key %>-style-display-as_list').checked;
    jQuery('.page_list_<%= key %>_list_option').toggle(displayAsList);
    jQuery('.page_list_<%= key %>_calendar_option').toggle(!displayAsList);

    jQuery('#page_list_<%= key %>').appendTo(jQuery('#page_content_form')[0]);
    jQuery('#page_objects_<%= key %>-style-display-as_list').click(function () {
      jQuery('.page_list_<%= key %>_list_option').show();
      jQuery('.page_list_<%= key %>_calendar_option').hide();
    });
    jQuery('#page_objects_<%= key %>-style-display-as_calendar').click(function () {
      jQuery('.page_list_<%= key %>_list_option').hide();
      jQuery('.page_list_<%= key %>_calendar_option').show();
    });
  });
</script>
