<script>
  try {
    document.getElementById("insert_file_dialog_content").innerHTML = "";
  } catch (e) { }
</script>

<div id="save_errors" class="error"></div>
<h3 style="margin-bottom: 10px;">Insert Image</h3>

<fieldset>
  <legend>Single Image</legend>

  <p>Select an image, then click "Finish" to upload and insert it if you are
  certain your image is already web-ready. Otherwise, click "Next" to crop and
  resize your image before using it.</p>

  <%= form_tag({ action: 'receive_image', id: @pg }, { id: 'upload-image-form', multipart: true }) do %>
  <table>
    <tr>
      <td width="70">Image file:</td>
      <td><%= file_field 'file', 'data', class: 'form', style: 'margin-bottom: 0; min-width: 250px' %></td>
    </tr>
    <tr>
      <td></td>
      <td><span style="color: #888888">Valid image types: jpeg, png, gif</span></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= submit_tag 'Next', id: 'upload-image-next-button', class: 'form_button', style: 'min-width: 70px' %>
        <%= submit_tag 'Finish', id: 'upload-image-finish-button', class: 'form_button', style: 'min-width: 70px' %>
        <%= link_to_function "Cancel", "cancelInsertImage()" %>
      </td>
    </tr>
  </table>
  <% end %>
</fieldset><br>

<fieldset>
  <legend>New Photo Gallery</legend>

  <p>Upload a zip file of images to create a photo gallery.</p>

  <%= form_tag({ action: 'receive_gallery', id: @pg }, { id: 'upload-gallery-form', multipart: true }) do %>
  <table>
    <tr>
      <td width="70">Zip file:</td>
      <td>
        <%= file_field 'gallery_file', 'data', class: 'form', style: 'margin-bottom: 0; min-width: 250px' %><br/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= submit_tag 'Next', id: 'upload-gallery-next-button', class: 'form_button', style: 'min-width: 70px' %>
        <%= link_to_function "Cancel", "cancelInsertImage()" %>
      </td>
    </tr>
  </table>
  <% end %>
</fieldset><br>

<%= form_remote_tag(update: 'insert_image_dialog_content', html: { id: 'mainform' },
                    url: { action: 'crop_image', id: @pg }) do %>
  <%= text_field_tag 'next_clicked', '0', style: 'display: none' %>
  <%= text_field_tag 'filename', '', style: 'display: none' %>
<%- end -%>

<%= form_remote_tag(update: 'insert_image_dialog_content', html: { id: 'mainform_gallery' },
                    url: { action: 'gallery_setup', id: @pg }) do %>
  <%= text_field_tag :dirname, '', style: 'display: none' %>
<%- end -%>

<script>
  const uploadImageForm = document.getElementById("upload-image-form");
  const uploadGalleryForm = document.getElementById("upload-gallery-form");
  const nextButton = document.getElementById("upload-image-next-button");
  const finishButton = document.getElementById("upload-image-finish-button");
  const uploadFileField = document.getElementById("file_data");
  const galleryFileField = document.getElementById("gallery_file_data");
  const galleryNextButton = document.getElementById("upload-gallery-next-button");

  nextButton.addEventListener("click", (e) => {
    e.target.dataset.disableWith = "Uploading...";
    document.getElementById("next_clicked").value = "1";
  });
  finishButton.addEventListener("click", (e) => {
    e.target.dataset.disableWith = "Uploading...";
  });
  galleryNextButton.addEventListener("click", (e) => {
    e.target.dataset.disableWith = "Uploading...";
  });

  uploadImageForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    if (uploadFileField.value == "") {
      setTimeout(() => {
        nextButton.value = "Next";
        finishButton.value = "Finish";
        nextButton.dataset.disableWith = null;
        finishButton.dataset.disableWith = null;
        nextButton.disabled = false;
        finishButton.disabled = false;
      });
      return;
    }

    let file = uploadFileField.files[0];
    let formData = new FormData(uploadImageForm);

    let resp = await fetch(uploadImageForm.action, {
      method: 'POST',
      body: formData
    });
    let data = await resp.json();

    document.getElementById("filename").value = data.filename;
    document.getElementById("mainform").onsubmit();
  });

  uploadGalleryForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    if (galleryFileField.value == "") {
      setTimeout(() => {
        galleryNextButton.value = "Next";
        galleryNextButton.dataset.disableWith = null;
        galleryNextButton.disabled = false;
      });
      return;
    }

    let file = galleryFileField.files[0];
    let formData = new FormData(uploadGalleryForm);

    let resp = await fetch(uploadGalleryForm.action, {
      method: 'POST',
      body: formData
    });
    let data = await resp.json();

    document.getElementById("dirname").value = data.filename;
    document.getElementById("mainform_gallery").onsubmit();
  });
</script>
