<%-
  cbNumColumns = 0;
  cbColWidth = 200;
  cbColHeight = 400;
-%>
<script type="text/javascript">
  window.cbColWidth = <%= cbColWidth %>;
  window.cbColHeight = <%= cbColHeight %>;
</script>
<style type="text/css">
  .cb_column {
    width: <%= cbColWidth %>px;
    height: <%= cbColHeight %>px;
  }
</style>

<h2>CMS &raquo; Pages</h2>

<%= flash_message %>

<div id="columnBrowserToolbar">
  <%= link_to image_tag('management/btn-top-new.png'), '#', id: 'new_link' %>
  <%= link_to image_tag('management/btn-top-edit.png'), '#', id: 'edit_content_link' %>
  <%= link_to image_tag('management/btn-top-properties.png'), '#', id: 'edit_link' %>
  <%= link_to image_tag('management/btn-top-preview.png'), '#', id: 'view_link', target: '_blank' %>
  <%= link_to image_tag('management/btn-top-delete.png'), '#', id: 'delete_link', method: :post, data: { confirm: 'Are you sure you want to delete the selected page?' } %>
</div>

<div id="columnBrowserContainer" style="height: <%= cbColHeight + 2 %>px;">
  <div id="columnBrowser" style="width: <%= (cbColWidth+1) * @page_levels.size %>px;">
    <%- @page_levels.each_with_index do |name, i| -%>
      <%-
        if name.present?
          @path << '/' if @path.present?
          @path << name
        end
        @parent = @page
        @page = CmsPage.find_by_path @path
        @page_level = i
        @pages = @parent.children if @parent

        break_flag = false

        if !@page
          @page = @parent.children.first || @parent || CmsPage.first
          break_flag = true
        end
      -%>
      <div id="columnBrowserLevel<%= i %>" class="cb_column">
        <%- if i == 0 -%>
          <%= render partial: 'list_page', locals: { list_page: CmsPage.first } %>
        <%- else -%>
          <%= render partial: 'list_pages' %>
        <%- end -%>
        <%= javascript_tag "jQuery('#cb_item_#{@parent.id}').addClass('cb_item_selected')[0].scrollIntoView();" if @parent %>
      </div>
      <%- break if break_flag -%>
    <%- end -%>
  </div>
</div>

<%- list_page = @page -%>

<script type="text/javascript">
  cbNumColumns = <%= @page_levels.size - 1 %>;
  jQuery('#columnBrowserLevel' + cbNumColumns)[0].scrollIntoView();
  jQuery('#view_link').prop('href', '<%= list_page.path.blank? ? '' : '/' + list_page.path %>/version/<%= list_page.published_version > 0 ? list_page.published_version : list_page.version %>');
  jQuery('#new_link').on('click', () => { editProperties('<%=raw url_for(action: 'new', mode: 'ajax_new', parent_id: list_page, authenticity_token: form_authenticity_token.to_s) %>', 'Create New Page under /<%= list_page.path %>'); return false; });
  jQuery('#edit_link').on('click', () => { editProperties('<%=raw url_for action: 'edit_page', id: list_page, mode: 'ajax_edit', authenticity_token: form_authenticity_token.to_s %>', 'Page Properties: <%= list_page.name %>'); return false; });
  jQuery('#edit_content_link').prop('href', '<%=raw url_for action: 'edit_page_content', id: list_page, authenticity_token: form_authenticity_token.to_s %>');
  jQuery('#delete_link').prop('href', '<%=raw url_for action: 'delete_page', id: list_page.id %>');
</script>
<script type="text/javascript" async>
  dojo.require("dojo.widget.*");
  dojo.require("dojo.widget.Dialog");
</script>

<%= render '/imagine_cms/dialogs' %>
