<%-
  cbNumColumns = 0;
  cbColWidth = 200;
  cbColHeight = 343;
-%>
<script type="text/javascript">
  window.cbColWidth = <%= cbColWidth %>;
  window.cbColHeight = <%= cbColHeight %>;
</script>
<style type="text/css">
  .cb_column {
    width: <%= cbColWidth %>px;
    height: <%= cbColHeight %>px;
  }
</style>

<div id="columnBrowserContainer" style="height: <%= cbColHeight + 2 %>px;">
  <div id="columnBrowser" style="width: <%= (cbColWidth+1) * @page_levels.size %>px;">
    <%- @page_levels.each_with_index do |name, i| -%>
      <%-
        if name.present?
          @path << '/' if @path.present?
          @path << name
        end
        @parent = @page
        @page = CmsPage.find_by_path @path
        @page_level = i
        @pages = @parent.children if @parent

        break_flag = false

        if !@page
          @page = @parent.children.first || @parent || CmsPage.first
          break_flag = true
        end
      -%>
      <div id="columnBrowserLevel<%= i %>" class="cb_column">
        <%- if i == 0 -%>
          <%= render partial: 'list_page_select', locals: { list_page_select: CmsPage.first } %>
        <%- else -%>
          <%= render partial: 'list_pages_select' %>
        <%- end -%>
        <%= javascript_tag "jQuery('#cb_item_#{@parent.id}').addClass('cb_item_selected')[0].scrollIntoView();" if @parent %>
      </div>
      <%- break if break_flag -%>
    <%- end -%>
  </div>
</div>

<%- list_page = @page -%>

<script type="text/javascript">
  cbNumColumns = <%= @page_levels.size - 1 %>;
  jQuery('#columnBrowserLevel' + cbNumColumns)[0].scrollIntoView();

  jQuery('#page_browser_selection').val('/<%= @page.path %>');
</script>
