<div id="delete_gallery_container">
  <div id="select_gallery_container">
  
  <%- if session[:broken_galleries].is_a?(Array) && session[:broken_galleries].size > 0 -%>
    <div id="broken_galleries" style="margin-bottom: 10px; padding: 10px; background-color: #ffa7b9; border: 2px solid #f03;">
      <p><b>The following galleries have problems and require fixing:</b></p>
      <ul style="padding: 0; margin: 0 0 0 15px; list-style-type: disc;">
        <%- session[:broken_galleries].sort.each do |g| -%>
        <li><%= g.titleize %> (<%= link_to_remote "delete",
                                                  :url => { :action => 'delete_gallery', :id => params[:id], :gallery_id => g },
                                                  :update => 'delete_gallery_container',
                                                  :confirm => "This action cannot be undone. Continue?" %>)</li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>
  
  <%- if @galleries.is_a?(Array) && @galleries.size > 0 -%>
    <div id="select_gallery">
      <h2>Select gallery</h2>
    <%-
      @galleries.each do |gallery|
        unless session[:broken_galleries].include?(File.basename(gallery))
          all_images = Dir.glob(File.join(gallery, '*.{jpg,jpeg,png,gif}'))
          images = []
          all_images.each { |img| images << img unless File.basename(img).include?('thumb') }
    -%>
      <div id="<%= File.basename(gallery) %>" style="float: left; width: 130px; margin: 0 20px 20px 0; text-align: center;">
        <%= link_to_remote image_tag(File.join('content', @pg.path, File.basename(gallery), 'management', 'preview.jpg')),
                           :url => { :action => 'select_gallery', :id => @pg, :gallery_id => File.basename(gallery) },
                           :update => 'select_gallery_container' %><br/>
        <strong><%= File.basename(gallery).titleize %></strong><br/>
        <span style="font-size: 10px; color: #555"><%= images.size %> photos</span>
      </div>
      <%- end -%>
    <%- end -%>
      <br style="clear: both" />
    </div>
  <%- end -%>
  
  <%= render :partial => 'upload_image' %>
</div>
