<%= flash_message %>

<h2>Edit Snippet</h2>

<%= form_tag do %>
  <%= text_field :snip, :name, :placeholder => 'Snippet Name', :size => '50' %>
  <div class="codemirror-html-container">
    <%= text_area :snip, :content, :class => 'codemirror-html autocomplete-off' %>
  </div>
  <%= submit_tag 'Save Snippet', :class => 'form_button' %>
  <button onclick="jQuery('#preview_frame').show(); jQuery('#preview_frame')[0].scrollIntoView(); jQuery('#preview_content').val(jQuery('#snip_content').val()); jQuery('#preview_form').submit(); return false;" class="form_button">Preview</button>
  <%= link_to 'Cancel', :action => 'sniplates' %>
  <br/>
  
  <br/>
  <%= render :partial => 'template_reference' %>
  <br/>
  
  <iframe id="preview_frame" name="preview_frame"></iframe>
<% end %>

<%= form_tag({ :controller => '/cms/content', :action => 'preview_template' }, :id => 'preview_form', :target => 'preview_frame') do %>
  <%= text_area_tag 'temp[content]', '', :id => 'preview_content', :style => 'display: none;' %>
  <%= hidden_field_tag 'mode', 'preview' %>
<% end %>
