<%-
  @nav_sections ||= []
  @subnav_sections ||= []
  
  if is_logged_in_user?
    if user_has_permission?(:manage_cms)
      @nav_sections << [ 'Pages', manage_cms_pages_path ]
      @nav_sections << [ 'Templates', manage_cms_templates_path ]
      @nav_sections << [ 'Snippets', manage_cms_snippets_path ]
    end
    if user_has_permission?(:manage_users)
      @nav_sections << [ 'Users', { controller: '/management/users', action: 'index' } ]
    end
  end
  
  if defined?(ImagineCmsAdditionalNavSections)
    @nav_sections += ImagineCmsAdditionalNavSections.is_a?(Proc) ? ImagineCmsAdditionalNavSections.call(self) : ImagineCmsAdditionalNavSections
  end
  
  if defined?(ImagineCmsAdditionalSubnavSections)
    @subnav_sections += ImagineCmsAdditionalSubnavSections.is_a?(Proc) ? ImagineCmsAdditionalSubnavSections.call(self) : ImagineCmsAdditionalSubnavSections
  end
  
  #
  # how to use a Proc to add nav sections:
  #
  # ImagineCmsAdditionalNavSections = Proc.new { |context|
  #   addl_sections = []
  #
  #   context.instance_eval {
  #     if is_logged_in_user?
  #       if user_has_permission?(:manage_cms)
  #         nav_sections << [ 'Recipes', { controller: '/management/recipes', action: 'index' } ]
  #       end
  #       if user_has_permission?(:manage_members)
  #         nav_sections << [ 'Members', { controller: '/management/members', action: 'index' } ]
  #       end
  #     end
  #   }
  #
  #   addl_sections
  # }
-%>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title><%= controller.controller_path.split('/').concat([ params[:action] ]).map { |s| s.titlecase }.join(' > ') %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "management", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%- if is_logged_in_user? -%>
      <script src="/assets/dojo/dojo.js" type="text/javascript"></script>
    <%- end -%>

    <%= csrf_meta_tag %>
  </head>
  
  <body<%= @onload.blank? ? '' : " onload=\"#{@onload.html_safe}\"" %>>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="noprint">
      <tr height="35" bgcolor="#4D4D4D">
        <td style="padding: 7px 15px 0 15px; border-bottom: solid #ffffff 1px; color: white">
        <%- if is_logged_in_user? -%>
          <!-- Header Navigation -->
          <div style="float: left; padding-top: 2px;">
            <%= link_to image_tag("management/start.gif", size: "44x14", alt: "Start"), '/manage' %>
          </div>
          <div style="float: left; padding-left: 20px;">
            <%= @nav_sections.map { |nav| link_to(nav[0], nav[1], style: 'color: white') }.safe_join(' | ') %>
          </div>
          <div style="float: right">
            <%= link_to 'Change password', { controller: '/management/users', action: 'edit', id: session[:user_id] }, style: 'color: white' %> |
            <%= link_to 'Log out', { controller: '/management/user', action: 'logout' }, style: 'color: white' %>
          </div>
        <%- end -%>
        </td>
      </tr>
      <%- unless @subnav_sections.blank? -%>
      <tr height="30" bgcolor="#777777">
        <td style="padding: 7px 15px 0 15px; border-bottom: solid #ffffff 1px; color: white">
          <!-- Header Navigation -->
          <div style="float: left; padding-left: 20px;">
            <%= @subnav_sections.map { |nav| link_to(nav[0], nav[1], style: 'color: white') }.safe_join(' | ') %>
          </div>
          <div style="float: right">
          </div>
        </td>
      </tr>
      <%- end -%>
    </table>
    
    <div id="management-content" style="padding: 15px 10px 1px 15px">
      <%= yield %>
    </div>
  </body>
</html>
